 <div class="row" id="scenarioTable" [hidden]="scenarios.length==0">
        <div class="col-sm-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="10%">&nbsp;</th>
                <th width="45%">ScenarioTitle</th>
                <th width="45%">ScenarioBody</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let scenario of scenarios">
                <th><a href="javascript:void(0)" (click)="onSelect(scenario)">Select</a></th>
                <td>{{scenario.title}}</td>
                <td>{{scenario.body}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>