<div class="row" id="backgroundSection">
<div class="col-sm-12">
  <h4 class="text-white">Background</h4>
</div>
<div class="col-sm-6">
  <label class="text-white">Title</label>
  <textarea class="form-control" [(ngModel)]="background.title"></textarea>
</div>
<div class="col-sm-6">
  <label class="text-white">Body</label>
  <textarea class="form-control" [(ngModel)]="background.body"></textarea>
</div>
</div>