<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar fidelity-navbar-bg"> <a href="#"><img src="assets/logo.png" alt="fidelity-logo"></a> </nav>
    </div>
  </div>
  <!-- row ends here -->
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-12 mt8p pl0">
      <input type="button" class="btn btn-success" id="saveFeatureFile" value="save feature file" (click)="onSave()"/>
      <input type="button" class="btn btn-primary" id="newFeatureFile" value="new feature file" (click)="onNew()"/>
      <input type="file" class="chhoseFileBtn" id="chooseFeatureFile" value="choose feature file" (change)="onFileLoad($event)"/>
    </div>
  </div>
  <!-- row ends here -->
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-12 pl-0 mt2p">
      <div class="row">
        <div class="col-sm-5">
          <input type="text" class="form-control" id="chooseJar" placeholder="Enter jar path" [(ngModel)]="jarPath"/>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="chooseFeatureDirectory" placeholder="Enter feature path" [(ngModel)]="featureDirectory"/>
        </div>
        <div class="col-sm-2">
          <input type="button" class="btn btn-danger" id="runFeatureFile" value="Run feature file" (click)="onRun($event)"/>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-sm-2 feature-form-heading">
      <h5 class="fileStructureTitle">File Structure</h5>
    </div>
    <div class="col-sm-10 feature-form-heading">
      <div class="row">
        <div class="col-sm-2">
          <h5 class="text-right metaTagTitle">Meta Tag</h5>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="metaTagInputField" [(ngModel)]="metaTagString"  (keyup)="onMetaSearch()"/>
        </div>
        <!-- <div class="col-sm-2">
          <input type="file" class="btn btn-primary" id="saveFeatureFile" value="run feature file" (change)="onRun($event)"/>
        </div>
 -->      </div>
    </div>
  </div>
  <!-- row ends here -->
  <div class="row">
    <div class="col-sm-3 mt2p">
    
    
   <tree [tree]="ffs2" #treeComponent></tree>
    
    <!-- Left tree for angular directory here -->
    
    </div>
    <!-- left tree section ends here -->
    <div class="col-sm-9 mt2p">
      <div class="row">
        <div class="col-sm-12">
          <!-- Feature row begins here -->
          <app-feature [feature]="feature" (onFeatureUpdated)="onFeatureUpdated($event)"></app-feature>
          <!-- Feature row ends here -->
          <div class="clearfix"></div>
           <!-- Background row begins here -->
          <app-background [background]="background" (onBackgroundUpdated)="onBackgroundUpdated($event)"></app-background>
          <!-- Background row ends here -->
          
          <div class="clearfix"></div>
          <!-- Scenario row begins here --> 
          <app-scenario [currentScenario]="currentScenarioWrapper" (onScenarioAdded)="onScenarioAdded($event)"></app-scenario>
          <!-- Scenario row ends here --> 
        </div>
      </div>
      <!-- right aside input fileds sections ends here -->
      
     <app-scenario-list [scenarios]="scenarioList" (onScenarioSelected)="onScenarioSelected($event)"></app-scenario-list>
    </div>
    <!-- right input fileds section ends here --> 
  </div>
  <!-- Tree and input fileds section ends here --> 
</div>
