@charset "utf-8";
/* CSS Document */
.navbar.fidelity-navbar-bg{
	background-color: #408800 !important;
	padding: 2% 5%;
}
.mt2p{
	margin-top: 2rem !important;
}
.mt5p{
	margin-top: 5rem !important;
}
.mt6p{
	margin-top: 6rem !important;
}
.mt8p{
	margin-top: 8rem !important;
}
.mt10p{
	margin-top: 10rem !important;
}
.pl0{
	padding-left: 0px !important;
}
#newFeatureFile{
	margin-left: 10px !important;
}
.chhoseFileBtn{
	position:relative !important; 
	top: 2px !important; 
	margin-left:10px !important;
}
.feature-form-heading{
	width: 100%;
	padding: 20px 15px;
	background-color: #E0E0E0;
	margin-top: 2rem;
}
#metaTagInputField{
	width: 100%;
	display:inline;
}
.metaTagTitle, .fileStructureTitle{
	position: relative;
	top: 6px;
}
#featureSection{
	background-color: #0862B5;
	padding-top: 4%;
    padding-bottom: 4%;		
}
#backgroundSection{
	background-color: #E80A64;
	padding-top: 4%;
    padding-bottom: 4%;	
}
#scenarioSection{
	background-color: #cddc39;
	padding-top: 4%;
    padding-bottom: 4%;
	margin-bottom: 5%;
}





















