<div class="row" id="scenarioSection">
    <div class="col-sm-12">
      <h4 class="text-white">Scenario <span><a href="javascript:void(0)" (click)="onScenarioAdd()" class="btn btn-info float-right" id="newScenarioBtn">{{buttonTitle}}</a></span> </h4>
    </div>
    <div class="col-sm-6">
      <label class="text-white">Title</label>
      <textarea class="form-control" [(ngModel)]="currentScenario.scenario.title" ></textarea>
    </div>
    <div class="col-sm-6">
      <label class="text-white">Body</label>
      <textarea class="form-control" [(ngModel)]="currentScenario.scenario.body" ></textarea>
    </div>
  </div>