<div class="row" id="featureSection">
<div class="col-sm-12">
  <h4 class="text-white">Feature</h4>
</div>
<div class="col-sm-6">
  <label class="text-white">Title</label>
  <textarea class="form-control" [(ngModel)]="feature.title"></textarea>
</div>
<div class="col-sm-6">
  <label class="text-white">Body</label>
  <textarea class="form-control" [(ngModel)]="feature.body"></textarea>
</div>
</div>